body {
    background: #CCCCCC
}
h1{
    text-align:center;
    color: darkblue;
}

p {
    text-align:center;
}
#texto1 {
color:aqua 
}
#texto2 {
    color: aquamarine;
}

em strong {
    color: #FF0000;
}