
.principal{
    background: #cccccc;
    padding: 30px;
}

h1{
    text-align:center;
    color: darkblue;
}

p {
    text-align:center;
}
#banner{
    text-align: center;
    width: 125%;
}
#texto1 {
color:aqua 
}
#texto2 {
    color: aquamarine;
}

em strong {
    color: #FF0000;
}
.destaques {
    color: rgb (255,0,255);
    font-size: 35;
    font-style: italic;
}
img{
    text-align: center;
    
}
.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}
header{
    padding: 20px;
    background-color: cadetblue;
    border-bottom: #FF0000;
    color: aliceblue;
    font-size: 20px;
}
#menu {
    font-size: 20px;
}
a:hover {
    color: aquamarine;
}
a: